.banner{
   background-image: url('../images/nosotros/nosotros01.jpg');
}

.card-logo{
   width: 30%;
   display: block;
   margin: 0 auto 2rem;
}

.row{
   margin-bottom: 3em;
}
.col-12{
   padding: 0;
}
 
.title-section-3{
   font-size: 1.5em;
   margin-bottom: 1.2em;
}

.business-card {
   /* font-size: 0.9em; */
   text-align: center;
   color: var(--text-white-color);
   padding: 3em 2em;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
}

.valores{
   list-style: none;
   width: 100%;
   padding: 1em 0;
   color: var(--text-white-color);
   flex-wrap: wrap;
   justify-content: center;
}
.valores-item{
   text-align: center;
   width: 100%;
   padding: 2em 1.7em;
   display: flex;
   justify-content: center;
}
   
/* Elementos con pseudoclases */
.business-card:nth-of-type(2), .business-card:nth-of-type(3){
   background-color: var(--title-blue-color);
}
.business-card:first-of-type, .business-card:last-of-type{
   background-color: var(--title-green-color);
}
.valores-item:nth-of-type(odd){
   background-color: var(--title-green-color);
}
.valores-item:nth-of-type(even){
   background-color: var(--title-blue-color);
}
.banner-layer:hover{
   background-color: rgba(0,0,0,0.6);
}

 /* Responsive Web Design */
@media (max-width:828px){
   .card-logo{
      width: 40%;
   }
}
@media (max-width:768px){
   .valores-item{
      width: 100%;
   }
   .business-card:nth-of-type(odd){
      background-color: var(--title-green-color);
   }
   .business-card:nth-of-type(even){
      background-color: var(--title-blue-color);
   }
}
@media (max-width:408px){
   .card-logo{
      width: 50%;
   }
   /* .business-card{
      padding: 3em 2em;
   } */
}
