/* Reseteo de estilos */
*, *::before, *::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
:root{
   /* --body-bg:#efefef;
   --nav-bg:#ddd;
   --nav-text-color:#141414;
   --nav-search-color: #b4b4b4; */
   --nav-search-focus: rgba(120,120,120,0.25);
   /* --title-color: #7f7f7f; RGB 127
   --text-color: #646464; RGB 100 */
   --title-color: #ddd;
   --text-color: #bbb;

   --gray-dark-bg: #748187;
   --gray-light-bg:#e1e5e6;

   --title-blue-color: rgb(1,174,240);
   --title-green-color: rgb(69, 199, 170);
   --title-gray-color: rgb(105, 106, 108);
   
   --text-black-color: rgb(64, 64, 64);
   --text-white-color: rgb(255, 255, 255);
   --text-gray-color: rgb(217, 217, 217);

}
body {
   padding-top: 66px;
   font-family: 'Bahnschrift SemiCondensed';
   font-weight: 300;
   font-size: 20px;
   background-color: var(--gray-light-bg);
}

/* Estilos de navbar */
.nav-bg{
   font-weight: 400;
   background-color: var(--gray-dark-bg);
   font-size: 18px;
}
.nav-logo{
   height: 50px;
   width: 140px;
}
.input-group{
   border-radius: 15px;
   overflow: hidden;
   border: 1px solid var(--gray-light-bg);
   transition: box-shadow .15s ease-in-out;
}
.input-group-btn{
   width: 2rem;
}
.btn-search{
   width: 100%;
   height: 100%;
   padding: 0.4rem;
}
.input-group-btn, .navbar .form-control{
   border: none;
   background-color: var(--gray-dark-bg);
   height: 1.7rem;
}
.navbar .form-control{
   color: var(--gray-light-bg);
   padding-right: 0.2rem;
}
.navbar-dark .navbar-nav .nav-link{
   color: var(--text-white-color);
}

/* Migas de pan */
.nav-crumbs{
   font-size: 1.3em;
   padding: 0.4em 1em;
   margin-bottom: 1.5em;
   box-shadow: 0 12px 6px -8px rgba(0,0,0,0.15);
}
.list-crumbs{
   list-style: none;
   margin: 0;
}
.crumb-item{
   display: inline-block;
}
.crumb-link{
   font-weight: 400;
   color: var(--text-black-color);
   padding: 0.4em 0.2em;
}

/* Estilos para espaciados */
 .padding-x{
   padding: 0 2em;
 }

/* Estilos para títulos */
.title, .title-section{
   font-family: 'Bahnschrift Regular';
   font-weight: 400;
   font-size: 1.7em;
   color: var(--title-black-color);
   padding-left: 1em;
   margin-bottom: 1.2em;
   cursor: default;
}
.title-line{
   padding: 0.15em 0.3em;
   border-bottom: 3px solid var(--title-blue-color);
}

/* Elementos con pseudoclases */
.form-control:focus{
   box-shadow: none;
}
.input-group:hover{
   box-shadow: 0 0 .2rem .1rem rgba(255,255,255,0.25);   
}
.input-group-btn:enabled{
   outline: none;
}
.crumb-link:hover{
   text-decoration: none;
   color: black;
}
.crumb-item:not(:last-of-type)::after{
   content: '/';
   color: var(--text-black-color);
   padding: 0 0.3em;
}

/* Responsive Web Design */
@media (min-width:768px){
   .input-group:hover{
      width: calc(100% - 140px - 2*16px - 1em);
      /* 140px de logo, 16px de padding izq y der, 16px de separación al logo */
      position: absolute;
      left: calc(140px + 16px + 1em);
      /* 140px de logo, 16px de padding izq, 16px de separación al logo */
   }
}
@media (max-width:767px){
   body{
      font-size: 17px;
   }
   .nav-bg{
      font-size: 1rem;
   }
   .navbar .input-group{
      width: 100%;
   }
}

@media (max-width:414px){
   body{
      font-size: 15px;
   }
   .title{
      padding-left: 0.6em;
   }
   .title-section{
      padding: 0;
      text-align: center;
   }
   .title-line{
      border-bottom-width: 2px;
   }
}


/****************************/
/*        FOOTER            */
/****************************/

.contacto__division__address,
.division__mail__address,
.p__direction__address {
  color: #fff;
  font-size: 1em;
}

.empresa .name__empresa {
  color: #fff;
  font-family: 'Bahnschrift Regular'; 
  font-size: 1em;
}


.social a {
  padding: 0 .6em;
}

.menu-pie {
  padding: 0;
  margin: 0;
}
.menu-pie li {
  display: inline-block;
  font-family: 'Bahnschrift SemiCondensed';
}

.menu-pie li a {
   color: #fff;
   text-decoration: none;
   padding: 0.5em;
} 

.menu-pie a:hover {
  color: #45C7AA;
}

.item_menu_footer:not(:last-of-type)::after{
   content: '|';
   color: var(--text-white-color);
   padding: 0 0.5em;
}

.foot_address, 
.footer{
  background: #748187;
}

.footer {
   border-top: 1px solid rgba(255, 255, 255, .5);
}