/* Reseteo de estilos */
*, *::before, *::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
:root{
   --body-bg:#efefef;
   --nav-bg:#ddd; /* rgb(221, 221, 221);*/
   --nav-text-color:#141414; /*rgb(20, 20, 20);*/
   --nav-search-color: #b4b4b4; /*rgb(180,180,180);*/
   --nav-search-focus: rgba(120,120,120,0.25);
   /* --title-color: #7f7f7f; RGB 127
   --text-color: #646464; RGB 100 */
   --card-bg: #254061;
   --title-color: #ddd;
   --text-color: #bbb;

   --title-blue-color: rgb(1,174,240);
   --title-green-color: rgb(69, 199, 170);
   --title-gray-color: rgb(105, 106, 108);
   
   --text-black-color: rgb(64, 64, 64);
   --text-white-color: rgb(255, 255, 255);
   --text-gray-color: rgb(217, 217, 217);

}
body {
   padding-top: 60px;
   font-family: 'Bahnschrift SemiCondensed';
   font-weight: 300;
   font-size: 24px;
   background-color: var(--body-bg);
}

/* Estilos de navbar */
.nav-bg{
   font-weight: 400;
   background-color: var(--nav-bg);
   font-size: 18px;
}
.nav-logo{
   height: 40px;
   width: 100px;
}
.input-group{
   border-radius: 15px;
   overflow: hidden;
   border: 1px solid var(--nav-search-color);
   transition: box-shadow .15s ease-in-out;
}
.form-control{
   padding-right: 0.2rem;
}
.input-group-btn{
   width: 2rem;
}
.btn-search{
   width: 100%;
   height: 100%;
   padding: 0.4rem;
}
.input-group-btn, .navbar .form-control{
   border: none;
   background-color: var(--nav-bg);
   height: 1.7rem;
}
.navbar-light .navbar-nav .nav-link{
   color: var(--text-black-color);
}

/* Migas de pan */
.nav-crumbs{
   list-style: none;
   display: flex;
   font-size: 1.1em;
   padding: 0.4em 1em;
   margin-bottom: 1.5em;
   box-shadow: 0 8px 5px -4px rgba(0,0,0,0.15);
}
.crumb-item{
   display: inline-block;
}
.crumb-link{
   font-weight: 400;
   color: var(--text-black-color);
   padding: 0.4em;
}

/* Contenedores */
.banner{
   margin: 1.5rem auto 4rem;
   width: 95vw;
   height: 25em;
   background-repeat: no-repeat;
   background-size: 100% 100%;
 }
 .banner-layer{
   height: 100%;
   background-color: rgba(0,0,0,0.5);
   display: flex;
   justify-content: center;
   align-items: flex-start;
   transition: background-color 0.2s ease-in-out;
 }
 .card-image{
   display: block;
   width: 100%;
   height: 25em;
 }
 .padding-x{
   padding: 0 2em;
 }

/* Estilos para títulos */
.title, .title-section{
   font-family: 'Bahnschrift Regular';
   font-weight: 400;
   font-size: 1.7em;
   color: var(--title-black-color);
   padding-left: 1em;
   margin-bottom: 1.2em;
   cursor: default;
}
.title-line{
   padding-bottom: 0.15em;
   border-bottom: 3px solid var(--title-blue-color);
}

/* Elementos con pseudoclases */
.form-control:focus{
   box-shadow: none;
}
.input-group:hover{
   box-shadow: 0 0 .2rem .1rem var(--nav-search-focus);
}
.input-group-btn:enabled{
   outline: none;
}
.crumb-link:hover{
   text-decoration: none;
   color: black;
}
.crumb-item:not(:last-of-type)::after{
   content: '|';
   color: var(--text-black-color);
   padding: 0 0.1em;
}
.banner-layer:hover{
   background-color: rgba(0,0,0,0.6);
 }

/* Responsive Web Design */
@media (max-width:768px){
   body{
      font-size: 20px;
   }
   .nav-bg{
      font-size: 1rem;
   }
   .navbar .input-group{
      width: 100%;
   }
}

@media (max-width:408px){
   body, .nav-bg{
      font-size: 14px;
   }
   .banner{
      height: 12em;
   }
   .card-image{
      height: 10em;
   }
   .title{
      padding-left: 0.6em;
   }
   .title-section{
      padding: 0;
      text-align: center;
   }
}
